@model Biblioteca.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivroNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivroNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>

        <dd class="col-sm-10">
            <h1>Edições de @Model.LivroNome</h1>

            @if (Model.Publicacoes.Any())
            {
                <ul>
                    @foreach (var publicacao in Model.Publicacoes)
                    {
                        <li>
							Editora: @publicacao.Editora.EditoraNome
                            <br />
                            Edição: @publicacao.Edicao
                            <br />
                            Data de Publicação: @publicacao.DataPublicacao
                        </li>
                        <br />
                    }
                </ul>
            }
            else
            {
                <p>Este livro não possui edições publicadas</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LivroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
