@model Biblioteca.Models.Editora

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Editora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditoraNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditoraNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EditoraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
