@model IEnumerable<Biblioteca.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Novo Autor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutorNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisOrigem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AutorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisOrigem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AutorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AutorId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
